.friend {
    display: flex;
    align-items: center;
    padding: 10px;
}

.friend .profile {
    min-height: 36px;
    min-width: 36px;
}

.friend .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    width: 100%;
}

.friend .content .actions {
    display: flex;
}

.friend .content .actions .action {
    padding: 4px 8px;
    margin: 0 3px;
    border-radius: 5px;
    color: white;
}