.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
    height: 56px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 36px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.10);
    text-transform: capitalize;
}