.form-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    height: auto;
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.form-container a, input {
    width: 100%;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 5px;
    transition: all 0.3s;
    outline: none;
}

.form-container a {
    border: 1px solid cornflowerblue;
}

.form-container a:hover {
    color: white;
    background: cornflowerblue;
}

.form-container input[type="submit"] {
    background: cornflowerblue;
    color: white;
}

.form-container input[type="submit"]:hover {
    background: rgb(79, 116, 185);
}

.form-container .error {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: rgb(250, 50, 50);
}