.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 46px;
  min-height: 46px;
  border-radius: 25px;
  position: relative;
  background: rgb(231, 231, 231);
  text-transform: capitalize;
}

.online-outer {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  border-radius: 50%;
  padding: 3px;
}

.online-inner {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
