* {
    box-sizing: border-box;
}

a {
    text-align: center;
    text-decoration: none;
}

html {
    max-width: 100vw;
    max-height: 100vh;
}

.page {
    padding: 10px
}

.page .header {
    font-size: 32px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    width: 100%;
    font-size: 20px;
}